* {
    font-family: "Bai Jamjuree", sans-serif;
    box-sizing: border-box;
}

.desktop-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin: 0;
}
header {
    background-image: url(./images/bg-header-mobile.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

header svg {
    /* margin: 60px auto; */
    margin-top: 60px;
    margin-bottom: 60px;
}

h1 {
    text-align: center;
    color: #000000b6 !important;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: rgba(0, 0, 0, 0.418);
}

header h1 {
    width: 300px;
}

header p {
    width: 310px;
    margin-bottom: 30px;
}

.button {
    color: white;
    border-radius: 50px;
    padding: 0.7em 8em ;
    margin: 10px 0;
    filter: drop-shadow(2px 2px 4px #000000);
    font-weight:600;
}

.green-btn {
    background-color: #26bba5;
}

.blu-btn {  
    background-color: #6174ff;
} 

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keeptrack {
    width: 250px;
}

.first-p   {
    width: 300px;
}

img {
    width: 80%;
    margin-bottom: 50px;
}   

.second-p {
    width: 300px;
    margin-bottom: 50px;
}

.third-p {
    width: 270px;
    margin-bottom: 50px;
}

.fourth-p {
    width: 300px;
    margin-bottom: 120px;
}

.access {
    width: 300px;
}

.fifth-p {
    width: 300px;
}

.supercharge {
    width: 300px;
}

.sixth-p {
    width: 300px;
    margin-bottom: 50px;
}

.blacklists {
    margin-top: 20px;
}

.seventh-p {
    width: 310px;
    margin-bottom: 50px;
}

.plain {
    margin-top: 20px;
}

.eighth-p
{
    width: 310px;
    margin-bottom: 50px;
}

.sneak {
    margin-top: 20px;
}

.ninth-p {
    width: 300px;
    margin-bottom: 120px;
}

.img-1 {
width: 165px;
height: 49px;
}

.img-2 {
    width: 139px;
    height: 51px;
}

.img-3 {
width: 135px;
height: 35px;
}

.img-4 {
    width: 135px;
    height: 56px;
}

.img-5 {
    width: 125px;
    height: 30px;
}

.clipbo {
    width: 300px;
    margin-top: 100px;
}

.tenth-p {
    width: 305px;
}

footer {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f6f8;
    justify-content: flex-end;
    padding: 25px;
    font-weight: 500;
}

footer img {
    width: 75px;
    height: 75px;
}

.social-icons {
    display: flex;
}

.social-icons img {
    width: 25px !important;
    height: 25px !important;
    margin: 25px;
    margin-bottom: 2px;
}

.desktop-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pic-n-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (min-width:900px) {
    h1 {width: auto !important;}

    header {
        background-image: url(./images/bg-header-desktop.png);
    }
    .button-pc {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
    }
    
    .desktop-section1 {
        display: flex;
        flex-direction: row;    
        justify-content: flex-start;
        align-self: flex-start;
        margin-top: 20px;
        column-gap: 80px;
        align-items: start;
    }

    .desktop-section1 .img-c {
        position: relative;
        width: 60vw;
    }

    .desktop-section1 img {
        position: absolute;
        left: -25px;
    }
    .desktop-section1 p {
        text-align: start;
    }

    .fifth-p {
        width: 600px;
    }

    .sixth-p {
        width: 500px;
    }

    .desktop-section1-1 {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .desktop-section1-1 p {
        width: 350px;
    }

    .desktop-section2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        margin-top: 20px;
        align-self: stretch;
    }

    .pic-n-text  p{
        width: 350px;
    }

    .pic-n-text svg {
        height: 40px;
    }
    .pic-n-text h1 {
        margin-top: 10px;
    }
    .desktop-section1 img {
        
    }

    .desktop-logos {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .tenth-p {
        width: 600px;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-p {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 12px 2px;
    }

    .footer-p p {
        width: 200px;
    }
}

@media only screen and (max-width:900px)
{
    
}